<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
  <remove name="OtpDb" />
  <add name="OtpDb" providerName="System.Data.SqlClient" connectionString="Server=dev-db-002;Database=dev_bnd_services_security_otp;User ID=WebUserV2;Password=JuchacheqEwREPh7XAcejuZuchanUphe;Trusted_Connection=False;MultipleActiveResultSets=true;" />
</connectionStrings>