<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="ServiceID" value="6733D897-7FCA-4559-989E-8D98A7DBE754" />
  <add key="ErrorCodeBase" value="7500000"/>
  <add key="ErrorStackTrace" value="true"/>
  <add key="AuthSecurityEnabled" value="false"/>
  <add key="AuthServerUrl" value="https://security.bnd.atticsoft.eu/core" />
  <add key="AuthMatrixScope" value="Matrix"/>
  <add key="MatrixCentername" value="BND Bank 60"/>
  <add key="MatrixSavingsProductName" value="BNDA_Product_Savings"/>
  <!--<add key="MatrixDepartmentName" value="BNDAAccounting"/>
  <add key="MatrixUnitName" value="BNDAAccountUnit"/>-->
  <add key="MatrixTaxExemptState" value="NotPaid"/>
  <add key="MatrixCurrency" value="EUR"/>
  <add key="MatrixStatementInterval" value="Year"/>
  <add key="MatrixStatementIntervalValue" value="1"/>
  <add key="MatrixLinkedAccountNumber" value=""/>
  <add key="MatrixAuthIgnoreTokenSSL" value="true"/>
  <add key="MatrixAccountNumberServiceBaseUrl" value="https://tst-mtx-web-001:40442"/>
  <add key="MatrixAccountingServiceBaseUrl" value="https://tst-mtx-web-001:40441"/>
  <add key="MatrixApprovalServiceBaseUrl" value="https://tst-mtx-web-001:44302"/>
  <add key="MatrixCashAccountServiceBaseUrl" value="https://tst-mtx-web-001:40451"/>
  <add key="MatrixCenterServiceBaseUrl" value="https://tst-mtx-web-001:40444"/>
  <add key="MatrixPaymentServiceBaseUrl" value="https://tst-mtx-web-001:40446"/>
  <add key="MatrixPortfolioServiceBaseUrl" value="https://tst-mtx-web-001:40447"/>
  <add key="MatrixProductBuilderServiceBaseUrl" value="https://tst-mtx-web-001:40448"/>
  <add key="MatrixReversalServiceBaseUrl" value="https://tst-mtx-web-001:44310"/>
  <add key="MatrixSchedulerServiceBaseUrl" value="https://tst-mtx-web-001:44311"/>
  <add key="MatrixTermContractServiceBaseUrl" value="https://tst-mtx-web-001:44314"/>

  <add key="MatrixAuthServiceBaseUrl" value="https://tst-mtx-web-001:60560/"/>
  <add key="MatrixAuthTokenEndpoint" value="/core/connect/token"/>
  <add key="MatrixAuthClientId" value="roclient"/>
  <add key="MatrixAuthClientSecret" value="secret"/>
  <add key="MatrixAuthMatrixScope" value="openid profile email matrix_account"/>
  <add key="MatrixAuthUserName" value="gre-dev-mtx"/>
  <!--<add key="MatrixAuthUserName" value="soudejans"/>-->
  <add key="MatrixAuthPassword" value="M0rpheus*Apoc"/>
  <!--<add key="MatrixAuthPassword" value="Aexaex01"/>-->

  <!-- The names of the system accounts start with the following strings -->
  <add key="MatrixSysAccounts" value="BNDA_,SYS_"/>

  <!--The system accounts-->
  <add key="MatrixSysAccountDefault" value="Default"/>
  <add key="MatrixSysAccountError" value="Error"/>
  <add key="MatrixSysAccountTreasury" value="Treasury"/>
  <add key="MatrixSysAccountNostro" value="Nostro"/>
  <add key="MatrixSysAccountToPayToReceive" value="ToPayToReceive"/>
  <add key="MatrixSysAccountToBeIdentified" value="ToBeIdentified"/>
  <add key="MatrixSysAccountToBeAnalyzed" value="ToBeAnalyzed"/>
  <add key="MatrixSysAccountToBeReturned" value="ToBeReturned"/>

  <add key="DefaultDecimalPrecision" value="6"/>

</appSettings>