<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
  <remove name="Products" />
  <add name="Products" providerName="System.Data.SqlClient" connectionString="Server=dev-db-002;Database=dev_bnd_services_ibanstore;User ID=WebUserV2;Password=JuchacheqEwREPh7XAcejuZuchanUphe;Trusted_Connection=False;MultipleActiveResultSets=true;" />  
</connectionStrings>