<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
  <remove name="Products" />
  <add name="Products" connectionString="data source=.;initial catalog=BND.Services.IbanStore.Db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>