@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div ng-controller="verificationController">
    <div class="modal-header">

        <h4 class="modal-title">Verification Complete</h4>
    </div>
    <div class="modal-body">
        <form>
            <fieldset class="form-group">
                <center>
                    <h4>Notify User to approve file</h4>
                </center>
            </fieldset>
            <fieldset class="form-group">
                <input type="text" class="form-control" ng-model="emailReceiver" placeholder="E-Mail" />

            </fieldset>
            <fieldset class="form-group">
                <textarea class="form-control" ng-model="emailMessage" placeholder="Description" rows="3"></textarea>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="sendToApprove()" id="btnSendApprove" data-dismiss="modal">Send to Approver</button>
        <button type="button" class="btn btn-default" ng-click="cancelBbanFile()" id="btnCancelBban" data-dismiss="modal">Cancel</button>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Application/Controller/verification-Controller.js"></script>
}
