<?xml version="1.0" encoding="utf-8" ?>

<appSettings>

  <add key="eMandateContractId" value="0030000621" />
  <add key="merchantReturnUrl" value="http://localhost:8081/Products/Status" />
  <add key="signingCertificateFingerprint" value="9a0aef81ce0066a8d36e1829f5976b3e966f5908" />
  <add key="acquirerCertificateFingerprint" value="13DB1626664C85554E917DF863A3CAE5DED08B09" />
  <add key="acquirerUrlDirectoryReq" value="https://abnamro-test.incassomachtigen.de/bvn-idx-routing/bvnGateway" />
  <add key="acquirerUrlTransactionReq" value="https://abnamro-test.incassomachtigen.de/bvn-idx-routing/bvnGateway" />
  <add key="acquirerUrlStatusReq" value="http://localhost:8081/Products/Status" />
  <add key="serviceLogsEnabled" value="true" />
  <add key="serviceLogsLocation" value="..\\eMandate" />
  <add key="AppName" value="Payment.EMandate" />
</appSettings>
