<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
  <remove name="eMandates" />
  <add name="eMandates" providerName="System.Data.SqlClient" connectionString="data source=.;initial catalog=test_bnd_services_payments_emandate;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" />
</connectionStrings>
