<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ConnectionString" value="data source=.;initial catalog=dev_bnd_services_payments_portals;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" />
  <add key="CboConnectionString" value="Server=10.50.1.221;Database=dev_bnd_tha_sprint;User ID=CBOUser;Password=DJKFH!489378djk$hFjkhsrw375;Trusted_Connection=False;MultipleActiveResultSets=true;" />
  <add key="JobQueueConnectionString" value="Server=10.50.1.221;Database=dev_bnd_tha_sprint;User ID=CBOUser;Password=DJKFH!489378djk$hFjkhsrw375;Trusted_Connection=False;MultipleActiveResultSets=true;" />
  <add key="MerchantId" value="003087587" />
  <add key="SubId" value="0" />
  <add key="AppName" value="Payment.IDeal" />
  <add key="MatrixServiceUrl" value="http://api.int.test.brandnewday.nl/matrix"/>
  <add key="BndBic" value="BNDANL20"/>
</appSettings>