<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="eMandates.Contract.Id" value="" /> <!-- "0123456789" -->
    <add key="eMandates.Contract.SubId" value="" /> <!-- "0" -->
    <add key="eMandates.Merchant.ReturnUrl" value="" /> <!-- "https://webshop.nl/return_url" -->
    <add key="eMandates.AcquirerCertificate.Thumbprint" value="" /> <!-- "1234567891234567891234567891234567891234" -->
    <add key="eMandates.SigningCertificate.Thumbprint" value="" /> <!-- "1234567891234567891234567891234567891234" -->
    <add key="eMandates.Acquirer.DirectoryRequestUrl" value="" /> <!-- "https://my.bank.nl/acquirer_dir" -->
    <add key="eMandates.Acquirer.TransactionRequestUrl" value="" /> <!-- "https://my.bank.nl/acquirer_trx" -->
    <add key="eMandates.Acquirer.StatusRequestUrl" value="" /> <!-- "https://my.bank.nl/acquirer_sts" -->
    <add key="eMandates.ServiceLogs.Enabled" value="" /> <!-- "true" -->
    <add key="eMandates.ServiceLogs.Location" value="" /> <!-- "C:\Merchant Website\ServiceLogs" -->
    <add key="eMandates.ServiceLogs.Pattern" value="" /> <!-- "%Y-%M-%D\%h%m%s.%f-%a.xml" -->
  </appSettings>
</configuration>