<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ConnectionString" value="Server=dev-db-002;Database=dev_bnd_services_payments_ideal;User ID=CBOUser;Password=DJKFH!489378djk$hFjkhsrw375;Trusted_Connection=False;" />
  <add key="CboConnectionString" value="Server=dev-db-002;Database=dev_bnd_int;User ID=CBOUser;Password=DJKFH!489378djk$hFjkhsrw375;Trusted_Connection=False;MultipleActiveResultSets=true;" />
  <add key="JobQueueConnectionString" value="Server=dev-db-002;Database=dev_bnd_int;User ID=CBOUser;Password=DJKFH!489378djk$hFjkhsrw375;Trusted_Connection=False;MultipleActiveResultSets=true;" />
  <add key="MerchantId" value="003087587" />
  <add key="SubId" value="0" />
  <add key="AppName" value="Payment.IDeal" />
  <add key="MatrixServiceUrl" value="http://api.int.dev.brandnewday.nl/matrix"/>
  <add key="BndBic" value="BNDANL20"/>
</appSettings>