<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="iDealConnectionString" value="Server=dev-db-002;Database=dev_bnd_services_payments_ideal;User ID=CBOUser;Password=DJKFH!489378djk$hFjkhsrw375;Trusted_Connection=False;MultipleActiveResultSets=true;" />
</appSettings>