<div id="failModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fail...</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <div id="txtError" style="color: red; word-break: break-all;"></div>
                </div>

            </div>
            <div class="modal-footer">
                <a type="button" id="btnCloseFailModal" class="btn btn-default" href="#" >Close</a>
            </div>
        </div>
    </div>
</div>